body {
  font-family: 'Poppins', sans-serif;
  background-image:
  linear-gradient(rgba(255, 255, 255, 0.655), rgba(255, 255, 255, 0.567)),
  url(/images/snow.jpg);
  background-position: 50%;
  background-attachment: local;
  background-size:cover;
  filter:brightness(120%);
  position: relative;
  box-sizing: border-box;
  color:#2a3942;
  padding-bottom: 15rem
}
*, *::after, *::before {
  box-sizing: border-box
}
h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 2.2rem;
}
.title, .subtitle {
  text-align: center;
  margin: 1rem;
}
.subtitle {
  margin-top: 2rem
}
.skillset {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 1rem
}
.skillset div {
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.767), 
  1px 2px 4px rgba(241, 193, 193, 0.767);
  padding: 1vh 3vw;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 20px
}
footer {
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.767), 
  1px 2px 4px rgba(241, 193, 193, 0.767);
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 70px;
  padding-left: 1rem;
  margin-bottom: 100px
}
footer div{
  margin-top: 20px;
  font-size: 18px;
  padding-bottom: 10px
}
footer h3 {
  padding: 0px;
  margin: 40px 0px 0px 0px
}
footer p{
  text-indent: 5px
}

h3{
  margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 1.7rem;
}

#signature {
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px
}
#main-container {
  margin-left: 30px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px
}
.grid-item {
  display: flex;
  height: 550px;
  flex-direction: column;
  padding: 10px 30px;
  position: relative;
  border-radius: 7px;
  box-shadow: 1px 2px 20px rgb(255, 255, 255),
  0px 0px 50px rgb(255, 255, 255),
  0px 0px 30px rgb(159, 43, 104)
}
.grid-item p {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 2rem
}
.react-logo {
  width: 35px;
  filter: saturate(150%)
}
.preview {
  width:250px;
  filter: brightness(80%);
  margin-bottom: 80px;
  transition: transform 0.3s, cursor 0.3s;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.2)
}
.preview:hover {
  transform: scale(105%);
  cursor:pointer
}
.button {
 text-decoration: none;
 color: rgb(46, 41, 41);
 width: 140px;
 border-radius: 20px;
 border: none;
 align-self: start;
 padding: 10px 20px;
 background-color: #BAC2C6; 
 transition: background-color 0.3s, cursor 0.3s, transform 0.5s;
 position: absolute;
 bottom: 10px
}
.button:hover {
  background-color: #C6BAC2;
  cursor: pointer;
  transform: scale(1.3)
}
p {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 20px
}

@media (max-width: 950px) {
  #main-container {
    grid-template-columns: 1fr 1fr 1fr
    }
    footer {
      width: 100%
    }
}
  @media (max-width: 650px) {
    #main-container {
    grid-template-columns: 1fr 1fr
    }
    footer {
      width: 100%
    }
  }
  @media (max-width: 500px) {
    #main-container {
      grid-template-columns: 1fr;
    }
  }
