body {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  margin-right: 0.1rem
}
nav {
  height: 100px;
  background: linear-gradient(to right, #672280, #A626D3);
  display: flex;
  padding: 0px 20px;
  margin: 0px 
}
img {
  height: 90%;
  align-self: center;
  border-radius: 10px;
  filter:sepia(10%);
}
.title {
  color: white;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: auto
}
.sidenote{
font-size: 10px;
text-align: end;
color: white;
align-self: flex-end;
}
section {
  margin-top: 2rem;
}
section div {
  display: flex;
  justify-content: space-between;
}
form {
  padding: 0% 10%
}
label {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 600;
  text-indent: 5px
}
input {
  padding: 15px 20px;
  border-radius: 4px;
  border: 1px solid rgb(188, 185, 185);
  font-size: 1.1rem;
  font-family: "Karla", sans-serif;
  margin-top: 10px;
  width: 30vw
}
input:focus{
  outline:  rgb(188, 185, 185);
}
button {
  display: block;
  background-color:#A626D3;
  border: none;
  border-radius: 4px;
  padding: 20px 3px;
  color: white;
  font-size: 0.9rem;
  margin: auto;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px
}
.meme--image {
  margin-top: 2rem;
  margin-left: 5rem;
  width: 600px
}

.meme {
  position: relative;
}
.meme--image {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 2px 3px 6px rgb(0, 0, 0, 0.5);
  margin: auto;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.bottom {
  bottom: 0px;
}
.top {
  top: 30px;
}
@media (max-width: 700px) {
  .meme--image {
    max-width: 80%
  }
  .meme--text {
    font-size: 1.5em;
  }
  input {
    margin-right: 10px
  }
  .top {
    top: 0.4rem
  }
  .bottom {
    bottom: 0.4rem
  }
}