html {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  background-color: hsl(204, 43%, 93%);
  margin-top: 20px
}
h2, h4, p {
  margin: 0
}
*, *:before, *:after {
  box-sizing: border-box
}

.card {
  background-color: white;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 3px 6px rgb(0,0,0,0.4);
  overflow: hidden;
  width: 90%
}
.first-section {
  width: 100%;
  height: 40%;
  padding: 20px 30px;
  padding-bottom: 40px
}
h3 {
  color: hsl(179, 62%, 43%);
}
.subtitle {
  color: hsl(71, 73%, 54%);
  font-weight: bold
}
.text {
  color: hsl(218, 22%, 67%);
  font-size: 1rem;
  line-height: 1.8
}
.bottom-section {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column
}

.bottom-left-section {
  background-color:  #2ab2af;
  color: white;
  text-align: left;
  flex-basis: 50%;
  line-height: 1.6;
  padding: 30px 30px;
  vertical-align: top;
}
#cost {
  display: flex;
}
#number {
  font-size: 2rem;
  font-weight: 700;
}
#info {
  font-size: 0.8rem;
  color: rgba(245, 243, 243, 0.608);
  align-self: center;
  margin-left: 5px
}
#info2 {
  color: rgba(245, 243, 243, 0.9);
  padding-bottom: 35px;
  font-size: 1rem
}
button {
  background-color: hsl(71, 73%, 54%);
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  padding: 15px 60px;
  margin-right: 1vw;
  color: white;
  box-shadow: 1px 2px 6px rgb(0,0,0,0.4);
  transition: cursor 0.3s, background-color 0.3s, transform 0.3s;
  margin-bottom: 20px
}
button:hover {
  cursor:pointer;
  background-color: #6DD83B;
  transform: scale(1.02);
}
.bottom-right-section {
  background-color: #1ac9c5;
  padding: 20px 30px;
  flex-basis: 50%;
}
h4 {
  color: white
}
.last-text {
  color:  hsl(204, 43%, 93%);
  font-size: 1rem;
  list-style: none;
  padding: 0;
  line-height: 1.8
}

@media (min-width: 576px) {
  .card {
    width: 70%
  }
.bottom-section {
  display: flex;
  flex-direction: row;
  height: 60%
}
.bottom-left-section, .bottom-right-section {
  flex-basis: 50%;  
}
@media (min-width: 1200px) {
  .card {
    width: 50%
  }
.bottom-section {
  display: flex;
  flex-direction: row;
  height: 60%
}
.bottom-left-section, .bottom-right-section {
  flex-basis: 50%;  
}
}
}