
body {
  margin:0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
  font-family: 'Roboto'
}

.header {
height: 55px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
right: 0;
left: 0;
background-color: white;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(230, 230, 230);
z-index: 100
}

.left-section {
display: flex;
flex-direction: row;
align-items: center
}

.hamburger-menu {
height: 22px;
margin-left: 24px;
margin-right: 20px
}

.YT-logo {
height: 55px
}

.middle-section {
display: flex;
align-items: center;
flex: 1;
margin-left: 70px;
margin-right: 35px;
max-width: 500px;
}

.search-bar {
flex: 1;
height: 36px;
width: 40px;
padding-left: 10px;
font-size: 16px;
border-width: 1px;
border-style: solid;
border-color: rgb(191, 191, 191);
border-radius: 2px;
box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05)
}

.search-bar::placeholder {
font-family: 'Roboto';
font-size: 16px
}

.search-button {
height: 39px;
width: 66px;
background-color: rgb(241, 241, 241);
border-width: 1px;
border-style: solid;
border-color: rgb(191, 191, 191);
margin-left: -1px;
margin-right: 10px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.upload-icon-container,
.youtube-apps-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s
}

.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip, 
.notifications-icon-container .tooltip {
position: absolute;
background-color: gray;
font-family: 'Roboto';
color: white;
padding: 6px 4px;
border-radius: 2px;
font-size: 12px;
bottom: -30px;
opacity: 0;
transition: opacity 0.15s, cursor 0.15s;
pointer-events: none;
white-space: nowrap
}

.search-button:hover,
.voice-search-button:hover,
.upload-icon-container:hover,
.youtube-apps-container:hover, 
.notifications-icon-container:hover {
  cursor: pointer
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip, 
.notifications-icon-container:hover .tooltip {
 opacity: 1
}

.voice-search-button {
height: 40px;
width: 40px;
border-radius: 20px;
border: none;
background-color: rgb(245, 245, 245);
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.magnifying-glass {
height: 25px;
}

.microphone {
height: 24px;
}

.right-section {
width: 180px;
margin-right: 20px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
flex-shrink: 0;
}

.upload-icon, 
.youtube-apps-icon,
.notifications-icon {
  height: 24px
}

.notifications-count {
position: absolute;
top: -2px;
right: -5px;
background-color: rgb(200, 0, 0);
color: white;
font-size: 11px;
padding: 2px 5px;
border-radius: 8px
}

.current-user-picture{
height: 32px;
border-radius: 16px
}

.current-user-picture:hover {
  cursor: pointer
}

.sidebar {
position: fixed;
top: 55px;
left: 0;
bottom: 0;
width: 72px;
background-color: white;
padding-top: 5px;
z-index: 101;
}

.sidebar-link {
background-color: white;
height: 74px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: background-color 0.15s, cursor 0.15s
}

.sidebar-link:hover {
background-color: rgb(235, 235, 235);
cursor: pointer
}

.sidebar-link img {
width: 24px;
margin-bottom: 4px
}

.sidebar-link div {
font-size: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 0
}

.thumbnail {
width: 100%;
object-fit:cover;
cursor: pointer
}

.thumbnail-row {
margin-bottom: 8px;
position: relative
}

.video-time{
background-color:black;
color: white;
position: absolute;
right: 5px;
bottom: 8px;
font-size: 12px;
font-weight: 500;
padding: 4px 4px;
border-radius: 2px
}

.video-info-grid {
display: grid;
grid-template-columns: 50px 1fr;
}

.video-title {
margin-top: 0px;
margin-bottom: 10px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
width: 250px;
text-decoration-style: solid
}

a {
color: black;
text-decoration: none;
}

a:hover {
cursor: pointer
}

.profile-picture {
  width: 36px;
  border-radius: 25px
  }

.video-author,
.video-stats {
font-size: 12px;
color: rgb(96, 96, 96)
}

.video-author {
  margin-bottom: 4px
}

.bear {
  width: 40px;
  border-radius: 25px
}

.video-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
row-gap: 40px;
column-gap: 16px
}

@media (max-width: 550px) {
  .video-grid {
    grid-template-columns: 1fr 
  }
  }

@media (min-width: 550px) and (max-width: 800px) {
.video-grid {
  grid-template-columns: 1fr 1fr
}
}

@media (min-width: 801px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr
  }
  }
@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px
  }
  .video-author,
  .video-stats {
    font-size: 14px
  }
}
